GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key

ADMIN_EMAILS=admin1@gmail.com,admin2@gmail.com
ALLOWED_EMAILS=user1@gmail.com,user2@gmail.com
